= content_for :header do
  = render 'shared/cabecera'

%p.parrafo
  Denuncia Ciudadana es una aplicación móvil desarrollada sobre la web que permite el envío de denuncias ciudadanas, de forma anónima, sólo contando con una dirección de e - mail.

%p.parrafo
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor porta imperdiet. Aenean in tellus sapien. Etiam tristique augue non feugiat elementum. Suspendisse sit amet egestas quam, non lacinia sapien. Integer tristique imperdiet tortor, sit amet pellentesque lectus convallis quis. Phasellus mollis mauris eu ultricies imperdiet.

%p.parrafo
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor porta imperdiet. Aenean in tellus sapien. Etiam tristique augue non feugiat elementum. Suspendisse sit amet egestas quam, non lacinia sapien. Integer tristique imperdiet tortor, sit amet pellentesque lectus convallis quis. Phasellus mollis mauris eu ultricies imperdiet.

= content_for :footer do
  %div{"data-iconpos" => "right", "data-role" => "navbar"}
    %ul
      %li
        = link_to 'Deseo realizar una denuncia', new_denuncia_path, data: { icon: "arrow-r", theme: theme(:index_new_denuncia), transition: "fade" }
  = render 'shared/lbs'
